<h1>Tareas de <%= current_user.name %></h1>

<h3>Tareas para hoy</h3>
<%= form_tag('calendar/update') do %>

    <% @todays_chores.each do |chore| %>
        <div>
          <%= check_box_tag("chore[#{chore.id}]", 'completed', chore.completed) %>
          <%= label_tag(chore.id, chore.chore.name) %>
        </div>
    <% end %>
    <%= submit_tag("Actualizar") %>
<% end %>


<h3>Puntaje</h3>
<div>Esta semana: <%=@week_score%></div>
<div>Semana anterior: <%=@last_week_score%></div>

<h3>Calendario</h3>
<%= month_calendar do |date| %>
    <div><%= date.day %></div>
    <ul>
    <% @chores_data.shift.each do |chore| %>
        <li class="<%=chore.html_class%>"><%= chore.chore.name %></li>
    <% end unless @chores_data.length == 0 %>
    </ul>
<% end %>
